body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0f0f0f;
  color: white;
}

header {
  background: #1a1a1a;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid #00d4ff;
}

header h1 {
  margin: 0;
  font-size: 26px;
  color: #00d4ff;
}

main {
  display: flex;
  height: calc(100vh - 70px);
}

.sidebar {
  width: 30%;
  background: #141414;
  padding: 15px;
  overflow-y: auto;
  border-right: 2px solid #00d4ff;
}

#searchInput {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
}

.list li {
  padding: 12px;
  background: #1f1f1f;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  border-left: 4px solid #00d4ff;
  transition: 0.2s;
}

.list li:hover {
  background: #2a2a2a;
  transform: translateX(5px);
}

#map {
  width: 70%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  background: #1a1a1a !important;
  color: white !important;
  border: 1px solid #00d4ff;
}

.leaflet-popup-tip {
  background: #1a1a1a !important;
}
